body {
    background-color: White;
}

#container {
    position:relative;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    border: 1px solid #CFC89F;
}

#topbar {
    width: 100%;
    height: 220px;
    background-color: #4A3F2F;
    background-image: url('pics/coffey.jpg');
    background-repeat: no-repeat; 
    background-position: 0 20px;
    text-align: right;
    color: #D6CDB0;
    font-style: italic;
}

#menu {
    position:relative;
    display: inline-block;
    width: 100%;
    height: 40px;
    background-color: #4A3F2F;
    font-family: "Verdana";
}

    #menu>a {
        display: none;
    }
    
     #menu ul{
        position:absolute;
        top: -7px;
        left: -15px;
    }
    
    #menu li{
        position:relative;
        float: left;
        height: 30px;
        background-color: #858279;
        list-style-type: none;
        text-align: center;
        padding-right: 10px;
        padding-left: 10px;
        border-right: Black 1px solid;
        border-top: #D6CDB0 1px solid;
    }
    
    #menu li:first-child {
        border-left: Black 1px solid; 
    }
    
    #menu li:first-letter {
        text-transform:uppercase;
    }
    
    #menu a {
        position:relative;
        top: 5px;
        text-decoration: none;
        color: white;
    }
    
    a {
        text-decoration: none;
        color: black;
    }
    
    #menu li:hover {
        background-color: #F0E5C2;
    }
    
    #menu .active {
        background-color: #D6CDB0;
    }
    
    p {
        font-family: "Verdana";
        line-height: 25px;
    }

#content {
    position: relative;
    display: inline-block;
    background-color: #D6CDB0;
    width: 600px;
    top: -4px;
}

img {
    position: relative;
    float: left;
    top: 55px;
    margin-right: 15px;
    margin-left:10px;
}

#maincontent {
    position: relative;
    display: inline-block;
    top: 20px;
    width: 58%;
}

    #maincontent P {
        position: relative;
        top: 40px;
        margin-left:10px;
    }

#subcontent {
    position: relative;
    float: right;
    top: 20px;
    width: 37%;
    border-left: dashed black 1px;
    padding-left:10px;
}

    #maincontent h1 {
        position: absolute;
        left:10px;
    }

    #content h1 {
        position: absolute;
        top: -15px;
    }
    
    #subcontent P {
        position: relative;
        top: 40px;
    }
    
    #subcontent h2 {
        position: relative;
        top: 40px;
    }
    
    #subcontent li {
        position: relative;
        top: 20px;
        line-height: 25px;
    }


