body {
    background-color: White;
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    border: 1px solid #CFC89F;
}

#topbar {
    width: 100%;
    height: 220px;
    background-color: #4A3F2F;
    background-image: url('pics/coffey.jpg');
    background-repeat: no-repeat; 
    background-position: 0 20px;
    text-align: right;
    color: #D6CDB0;
    font-style: italic;
}